@media only screen 
  and (device-width: 375px) 
  and (device-height: 812px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone XSM */

    body{
        overflow-x: hidden;
        width:100%;
    }
    .comtainer{
        width:400px;
    }
    .date_wedding{
        margin-bottom: 3rem;
        margin-left: 1rem;
        width:24rem;
        margin-top: 85rem;
    }
    .su_kien_cuoi{
        padding-top: 8rem;
    }
    .container{
        width:25rem;
        margin-left: -0.6rem;
    }
    .date_countdown{
        margin-top: -80px;
        margin-left: 2rem;
    }
   
    .back_info{
        height:32rem;
    }
    .text_nha_trai{
        margin-left: 2rem;
    }
}
@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 12 Pro Max */

    body{
        overflow-x: hidden;
        width:100%;
    }
    .date_wedding{
        margin-bottom: 4rem;
        margin-left: 2.2rem;
        width:35.7rem;
        margin-top: 0rem;
    }
    .container{
        width:33rem;
        margin-left: -0.6rem;
    }
    .back_info{
        width:35.7rem;
        height:32rem;
        position:absolute;
        margin-top: -2.5rem;
    }
    .su_kien_cuoi{
        margin-left: 3rem;
        width: 33rem;
        padding-top: 8rem;
    }
    .icon_wedding{
        margin-left: 9rem;
    }
    .img_thanh_hon{

    }
    .boy_home{
        margin-left: 1rem;
    }
    .text_nha_trai{
        margin-left: 3.5rem;
    }
    .girl_home{
        margin-left: 14rem;
    }
    .text_nha_gai{
        margin-left: 16.5rem;
    }
    .container_thanh_hon{
        height:42rem;
    }
}
@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 12 và 12 Pro */

    body{
        overflow-x: hidden;
        width:100%;
    }
    .date_wedding{
        margin-bottom: 4rem;
        margin-left: 0.2rem;
        width:28rem;
        margin-top: 0rem;
    }
    .container{
        width:28rem;
        margin-left: -0.6rem;
    }
    .su_kien_cuoi{
        padding-top: 8rem;
    }
    .back_info{
        width:28rem;
        height:32rem;
        position:absolute;
        margin-top: -4rem;
    }
    .icon_wedding{
        margin-left: 9rem;
    }
    .boy_home{
        margin-left: 1rem;
    }
    .text_nha_trai{
        margin-left: 3.5rem;
    }
    .girl_home{
        margin-left: 14rem;
    }
    .text_nha_gai{
        margin-left: 16.5rem;
    }
    .container_thanh_hon{
        height:42rem;
    }
}
@media only screen 
  and (device-width: 414px) 
  and (device-height: 896px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 11 Pro Max */

    body{
        overflow-x: hidden;
        width:100%;
    }
    .date_wedding{
        margin-bottom: 4rem;
        width:27.7rem;
        margin-top: 0rem;
    }
    .container{
        width:28rem;
        margin-left: -0.6rem;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .back_info{
        width:28rem;
        height:32rem;
        margin-top: -2.5rem;
        position:absolute;
    }
    .date_countdown{
        margin-top: -80px;
        margin-left: 2rem;
    }
    .icon_wedding{
        margin-left: 10rem;
    }
    .boy_home{
        margin-left: 1rem;
    }
    .su_kien_cuoi{
        padding-top: 5rem;
    }
    .text_nha_trai{
        margin-left: 3.5rem;
    }
    .girl_home{
        margin-left: 14rem;
    }
    .text_nha_gai{
        margin-left: 16.5rem;
    }
    .container_thanh_hon{
        height:42rem;
    }
}
@media only screen 
  and (device-width: 414px) 
  and (device-height: 896px) 
  and (-webkit-device-pixel-ratio: 2) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 11 */
    .back_info{
        height:32rem;
    }
    .su_kien_cuoi{
        padding-top: 8rem;
    }
    .date_wedding{
        width:40rem;
    }
} 
/* iPhone 14 và 14 Pro Max */
@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 14 và 14 Pro Max */
}

/* iPhone 15 và 15 Pro */
@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 15 và 15 Pro */
}

/* iPhone 15 Pro Max */
@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 15 Pro Max */
}
/* iPhone 13 */
@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 13 */
}

/* iPhone 13 Pro */
@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 13 Pro */
}

/* iPhone 13 Pro Max */
@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
    /* Điều chỉnh các thuộc tính CSS cho iPhone 13 Pro Max */
}
