*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:1000px;
    overflow-x: hidden;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    width:25rem;
    margin-left: 3px;
    /* padding-right: 10px; */
    flex-direction: column;
    background-color: aliceblue;
    position: relative;
    
}
.date_wedding{
   width:100%;
   height:100%;
   margin-bottom: -14px;
}
.date_countdown{
    margin-top: -80px;
}
.countdown_wedding{
    background-color:#90110A;
    color:#fff;
    margin-top: 20px;
    margin-left: -30px;
    padding:10px 10px 10px 10px;
    border-radius: 15px;
}
.nha_trai{
    background-color: aliceblue;
    width:100%;
    height:250px;
    padding-top:0;
}
.back_info{
    width:25rem;
    height:35rem;
    position:absolute;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    animation: lightEffect 2s infinite alternate; /* Áp dụng animation */
}
@keyframes lightEffect {
    0% {
        opacity: 0.7; /* Bắt đầu với độ mờ ban đầu */
    }
    100% {
        opacity: 0.9; /* Kết thúc với độ mờ tối đa */
    }
}
.back_info {
    opacity: 0; /* Bắt đầu với độ mờ 0 (không hiển thị) */
    transition: opacity 1s ease; /* Thiết lập hiệu ứng chuyển đổi */
}

.back_info.show {
    opacity: 0.7; /* Khi có lớp 'show', độ mờ sẽ được đặt về 0.7 */
}
.container_img{
    width:100%;
    height:50px;
    position:absolute;
}
.khung_info{
    position:absolute;
    z-index: 3;
    width:133%;
    height: 408px;
    margin-left: -59px;
    margin-top: -32px;
}
.boy_home{
    position:absolute;
    z-index: 7;
    opacity:1;
    width:200px;
    margin-left: -14px;
    margin-top: 36px;
}
.text_nha_trai{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 125px;
    position:absolute;
    z-index: 8;
    margin-left: 28px;
    color:#90110A

}
.icon_wedding{
    position:absolute;
    z-index: 9;
    width:35%;
    margin-left: 125px;
    margin-top: 60px;
}
.girl_home{
    position:absolute;
    z-index: 7;
    opacity:1;
    width:200px;
    margin-left: 194px;
    margin-top: 36px;
}
.text_nha_gai{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 125px;
    position:absolute;
    z-index: 8;
    margin-left: 250px;
    color:#90110A
}
.su_kien_cuoi{
    padding-top: 13rem;
    width:30rem;
    height:100%;
}
.tiec_than_mat{
    display: flex;
    justify-content: center;
}

.img_su_kien_cuoi{
    height:100%;
    margin-bottom: -14px;
    margin-left: 1rem;
}
.container_dinh_hon{
    width:20rem;
    height:37rem;
    background-color: #af160e;
    display:flex;
    justify-content: center;
    margin-left: 5rem;
    margin-top: -6rem;
    filter: brightness(100%);
    border-radius: 1rem;
    
}
.text_dinh_hon{
    color:#fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.img_dinh_hon{
    width:16rem;
    border-radius: 1.5rem;
    height:60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);;
}
.container_icon_time{
    margin-top: 0.5rem;
}
.icon_time{
    padding: 0 3px 5px 0;
    color:#fff;
}
.icon_address{
    color:#fff;
}
.btn_address{
    margin: 2rem 0 0 0 ;
    width:100%;
}
.btn_map{
    background-color:#fff;
    border-radius: 20px;
    text-decoration: none;
    color:#000;
    padding:10px 10px 10px 10px;
    margin-left: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);;
}
.btn_map:hover{
    background-color: #000;
    color:#fff;
    cursor: pointer;
}
/* thành hôn */
.container_thanh_hon{
    width:20rem;
    height:42rem;
    background-color: #af160e;
    display:flex;
    justify-content: center;
    margin-left: 5rem;
    margin-top: 2rem;
    border-radius: 1rem;
}
.happy_ending
{
    width:16rem;
    margin-top: 0rem;
}
.container_logo
{
    width:100%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;

}
.logo{
    width:40%;
    padding-right: 1rem;
}
.text_logo{
    margin-left: -1rem;
    opacity:0.4;
}
.ending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}